# AlphabetSoupCharity_Optimization_1.ipynb

In this notebook, we optimize the deep learning model with a configuration of **60** nodes in the first hidden layer and **40** nodes in the second hidden layer. This setup explores the impact of different hidden layer sizes on the model's performance. The trained model is saved as an `.h5` file for further analysis.

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

#Review the Dataframe
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

#Display the Application_Type value counts
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()

#Display the CLASSIFICATION value counts
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1883].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

# Convert boolean values (True/False) to integers (1/0)
application_df = application_df.astype(int)


#Display data converted from categorical data to numeric
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Determine the number of input features
number_input_features = X_train_scaled.shape[1]

# Define the number of hidden nodes for each layer
hidden_nodes1 = 60
hidden_nodes2 = 40

# Initialize the Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
# Adding a dense layer with a specified number of nodes and an activation function
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
# Adding another dense layer with a specified number of nodes and an activation function
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))

# Output layer
# Adding the output layer with a single node and a sigmoid activation function for binary classification
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                         â”ƒ Output Shape                â”ƒ         Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                        â”‚ (None, 60)                  â”‚           2,640 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                      â”‚ (None, 40)                  â”‚           2,440 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                      â”‚ (None, 1)                   â”‚              41 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 5,121 (20.00 KB)

 Trainable params: 5,121 (20.00 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
# Train the model on the training data with a specified number of epochs and batch size
history = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 2ms/step - accuracy: 0.6922 - loss: 0.6042 - val_accuracy: 0.7338 - val_loss: 0.5504
Epoch 2/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7241 - loss: 0.5599 - val_accuracy: 0.7367 - val_loss: 0.5504
Epoch 3/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7279 - loss: 0.5506 - val_accuracy: 0.7367 - val_loss: 0.5476
Epoch 4/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7326 - loss: 0.5475 - val_accuracy: 0.7362 - val_loss: 0.5509
Epoch 5/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.7289 - loss: 0.5475 - val_accuracy: 0.7367 - val_loss: 0.5483
Epoch 6/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 2ms/step - accuracy: 0.7345 - loss: 0.5446 - val_accuracy: 0.7372 - val_loss: 0.5454
Epoch 7/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7343 - loss: 0.5489 - val_accuracy: 0.7383 - val_loss: 0.5490
Epoch 8/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7314 - loss: 0.5505 - val_accuracy: 0.7394 - val_loss: 0.5435
Epoch 9/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7281 - loss: 0.5501 - val_accuracy: 0.7378 - val_loss: 0.5439
Epoch 10/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7321 - loss: 0.5449 - val_accuracy: 0.7394 - val_loss: 0.5480
Epoch 11/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7348 - loss: 0.5453 - val_accuracy: 0.7329 - val_loss: 0.5536
Epoch 12/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7371 - loss: 0.5451 - val_accuracy: 0.7371 - val_loss: 0.5462
Epoch 13/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7345 - loss: 0.5440 - val_accuracy: 0.7332 - val_loss: 0.5475
Epoch 14/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7282 - loss: 0.5473 - val_accuracy: 0.7385 - val_loss: 0.5469
Epoch 15/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7318 - loss: 0.5456 - val_accuracy: 0.7352 - val_loss: 0.5435
Epoch 16/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.7290 - loss: 0.5465 - val_accuracy: 0.7394 - val_loss: 0.5461
Epoch 17/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 2ms/step - accuracy: 0.7335 - loss: 0.5440 - val_accuracy: 0.7369 - val_loss: 0.5484
Epoch 18/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7333 - loss: 0.5439 - val_accuracy: 0.7371 - val_loss: 0.5508
Epoch 19/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7371 - loss: 0.5421 - val_accuracy: 0.7371 - val_loss: 0.5458
Epoch 20/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7349 - loss: 0.5413 - val_accuracy: 0.7385 - val_loss: 0.5448
Epoch 21/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7349 - loss: 0.5433 - val_accuracy: 0.7345 - val_loss: 0.5449
Epoch 22/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7341 - loss: 0.5456 - val_accuracy: 0.7383 - val_loss: 0.5486
Epoch 23/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7346 - loss: 0.5429 - val_accuracy: 0.7392 - val_loss: 0.5424
Epoch 24/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7318 - loss: 0.5473 - val_accuracy: 0.7396 - val_loss: 0.5455
Epoch 25/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7349 - loss: 0.5386 - val_accuracy: 0.7369 - val_loss: 0.5456
Epoch 26/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 3ms/step - accuracy: 0.7330 - loss: 0.5405 - val_accuracy: 0.7403 - val_loss: 0.5434
Epoch 27/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7372 - loss: 0.5415 - val_accuracy: 0.7385 - val_loss: 0.5445
Epoch 28/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7344 - loss: 0.5388 - val_accuracy: 0.7403 - val_loss: 0.5458
Epoch 29/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7358 - loss: 0.5410 - val_accuracy: 0.7392 - val_loss: 0.5476
Epoch 30/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7337 - loss: 0.5474 - val_accuracy: 0.7372 - val_loss: 0.5486
Epoch 31/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7365 - loss: 0.5382 - val_accuracy: 0.7378 - val_loss: 0.5423
Epoch 32/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.7377 - loss: 0.5386 - val_accuracy: 0.7376 - val_loss: 0.5462
Epoch 33/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7292 - loss: 0.5475 - val_accuracy: 0.7380 - val_loss: 0.5456
Epoch 34/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7345 - loss: 0.5390 - val_accuracy: 0.7405 - val_loss: 0.5437
Epoch 35/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7345 - loss: 0.5411 - val_accuracy: 0.7378 - val_loss: 0.5456
Epoch 36/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7367 - loss: 0.5402 - val_accuracy: 0.7387 - val_loss: 0.5457
Epoch 37/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7374 - loss: 0.5402 - val_accuracy: 0.7403 - val_loss: 0.5453
Epoch 38/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.7348 - loss: 0.5416 - val_accuracy: 0.7389 - val_loss: 0.5437
Epoch 39/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7414 - loss: 0.5340 - val_accuracy: 0.7376 - val_loss: 0.5461
Epoch 40/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7371 - loss: 0.5393 - val_accuracy: 0.7403 - val_loss: 0.5455
Epoch 41/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7402 - loss: 0.5330 - val_accuracy: 0.7387 - val_loss: 0.5449
Epoch 42/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7395 - loss: 0.5355 - val_accuracy: 0.7396 - val_loss: 0.5455
Epoch 43/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7412 - loss: 0.5355 - val_accuracy: 0.7389 - val_loss: 0.5477
Epoch 44/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.7367 - loss: 0.5385 - val_accuracy: 0.7400 - val_loss: 0.5451
Epoch 45/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7341 - loss: 0.5402 - val_accuracy: 0.7394 - val_loss: 0.5444
Epoch 46/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7380 - loss: 0.5376 - val_accuracy: 0.7378 - val_loss: 0.5445
Epoch 47/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7376 - loss: 0.5366 - val_accuracy: 0.7391 - val_loss: 0.5466
Epoch 48/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7393 - loss: 0.5371 - val_accuracy: 0.7394 - val_loss: 0.5475
Epoch 49/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7393 - loss: 0.5361 - val_accuracy: 0.7367 - val_loss: 0.5460
Epoch 50/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7387 - loss: 0.5374 - val_accuracy: 0.7363 - val_loss: 0.5459
Epoch 51/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7390 - loss: 0.5346 - val_accuracy: 0.7394 - val_loss: 0.5463
Epoch 52/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7383 - loss: 0.5362 - val_accuracy: 0.7380 - val_loss: 0.5497
Epoch 53/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7397 - loss: 0.5372 - val_accuracy: 0.7380 - val_loss: 0.5483
Epoch 54/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7384 - loss: 0.5372 - val_accuracy: 0.7365 - val_loss: 0.5504
Epoch 55/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7358 - loss: 0.5392 - val_accuracy: 0.7389 - val_loss: 0.5493
Epoch 56/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7362 - loss: 0.5377 - val_accuracy: 0.7378 - val_loss: 0.5485
Epoch 57/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7429 - loss: 0.5324 - val_accuracy: 0.7383 - val_loss: 0.5489
Epoch 58/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7417 - loss: 0.5327 - val_accuracy: 0.7389 - val_loss: 0.5488
Epoch 59/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7403 - loss: 0.5315 - val_accuracy: 0.7396 - val_loss: 0.5484
Epoch 60/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7334 - loss: 0.5394 - val_accuracy: 0.7385 - val_loss: 0.5493
Epoch 61/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7393 - loss: 0.5344 - val_accuracy: 0.7367 - val_loss: 0.5479
Epoch 62/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 4ms/step - accuracy: 0.7376 - loss: 0.5375 - val_accuracy: 0.7391 - val_loss: 0.5493
Epoch 63/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7409 - loss: 0.5334 - val_accuracy: 0.7392 - val_loss: 0.5491
Epoch 64/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7398 - loss: 0.5353 - val_accuracy: 0.7392 - val_loss: 0.5514
Epoch 65/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7366 - loss: 0.5381 - val_accuracy: 0.7378 - val_loss: 0.5502
Epoch 66/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7369 - loss: 0.5402 - val_accuracy: 0.7400 - val_loss: 0.5483
Epoch 67/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7402 - loss: 0.5343 - val_accuracy: 0.7422 - val_loss: 0.5469
Epoch 68/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.7407 - loss: 0.5357 - val_accuracy: 0.7383 - val_loss: 0.5495
Epoch 69/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7360 - loss: 0.5374 - val_accuracy: 0.7387 - val_loss: 0.5532
Epoch 70/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7370 - loss: 0.5357 - val_accuracy: 0.7389 - val_loss: 0.5508
Epoch 71/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7309 - loss: 0.5402 - val_accuracy: 0.7378 - val_loss: 0.5507
Epoch 72/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7365 - loss: 0.5367 - val_accuracy: 0.7363 - val_loss: 0.5534
Epoch 73/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7455 - loss: 0.5289 - val_accuracy: 0.7372 - val_loss: 0.5526
Epoch 74/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7386 - loss: 0.5379 - val_accuracy: 0.7380 - val_loss: 0.5506
Epoch 75/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7384 - loss: 0.5325 - val_accuracy: 0.7396 - val_loss: 0.5497
Epoch 76/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7370 - loss: 0.5383 - val_accuracy: 0.7380 - val_loss: 0.5502
Epoch 77/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7392 - loss: 0.5353 - val_accuracy: 0.7378 - val_loss: 0.5501
Epoch 78/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7388 - loss: 0.5351 - val_accuracy: 0.7356 - val_loss: 0.5521
Epoch 79/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7426 - loss: 0.5325 - val_accuracy: 0.7391 - val_loss: 0.5525
Epoch 80/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7384 - loss: 0.5369 - val_accuracy: 0.7385 - val_loss: 0.5522
Epoch 81/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7394 - loss: 0.5354 - val_accuracy: 0.7360 - val_loss: 0.5530
Epoch 82/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7382 - loss: 0.5376 - val_accuracy: 0.7378 - val_loss: 0.5523
Epoch 83/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7447 - loss: 0.5308 - val_accuracy: 0.7383 - val_loss: 0.5537
Epoch 84/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7398 - loss: 0.5333 - val_accuracy: 0.7374 - val_loss: 0.5559
Epoch 85/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7409 - loss: 0.5316 - val_accuracy: 0.7389 - val_loss: 0.5525
Epoch 86/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7390 - loss: 0.5356 - val_accuracy: 0.7378 - val_loss: 0.5530
Epoch 87/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7392 - loss: 0.5342 - val_accuracy: 0.7391 - val_loss: 0.5544
Epoch 88/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7372 - loss: 0.5339 - val_accuracy: 0.7374 - val_loss: 0.5518
Epoch 89/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7397 - loss: 0.5343 - val_accuracy: 0.7394 - val_loss: 0.5569
Epoch 90/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7404 - loss: 0.5339 - val_accuracy: 0.7385 - val_loss: 0.5509
Epoch 91/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7396 - loss: 0.5328 - val_accuracy: 0.7392 - val_loss: 0.5542
Epoch 92/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7406 - loss: 0.5311 - val_accuracy: 0.7385 - val_loss: 0.5544
Epoch 93/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7359 - loss: 0.5377 - val_accuracy: 0.7382 - val_loss: 0.5532
Epoch 94/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7380 - loss: 0.5329 - val_accuracy: 0.7389 - val_loss: 0.5531
Epoch 95/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7372 - loss: 0.5357 - val_accuracy: 0.7391 - val_loss: 0.5540
Epoch 96/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7378 - loss: 0.5369 - val_accuracy: 0.7385 - val_loss: 0.5543
Epoch 97/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 4ms/step - accuracy: 0.7404 - loss: 0.5317 - val_accuracy: 0.7374 - val_loss: 0.5540
Epoch 98/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7424 - loss: 0.5298 - val_accuracy: 0.7380 - val_loss: 0.5548
Epoch 99/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7397 - loss: 0.5299 - val_accuracy: 0.7371 - val_loss: 0.5536
Epoch 100/100
686/686 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7412 - loss: 0.5322 - val_accuracy: 0.7396 - val_loss: 0.5573

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7236 - loss: 0.5742
Loss: 0.5741552710533142, Accuracy: 0.7236151695251465

In [16]:
# Export our model to HDF5 file
nn.save("h5_files/AlphabetSoupCharity_Optimization_1.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.